[package]
name = "cdde-core"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
tokio.workspace = true
thiserror.workspace = true
serde.workspace = true
async-trait.workspace = true
