[package]
name = "cdde-metrics"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
prometheus.workspace = true
lazy_static.workspace = true
